.TodoList {
  width: 400px;
  margin: 20px auto;
}

.TodoList ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.TodoList-Item {
  background: #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.TodoList-Item--completed {
  text-decoration: line-through;
  color: gray;
  background: #f3f3f3;
}

.TodoList-Item-DestroyButton,
.TodoList-Item-ToggleCompletedButton {
  float: right;
  visibility: hidden;
  margin-left: 10px;
}

.TodoList-Item:hover .TodoList-Item-DestroyButton,
.TodoList-Item:hover .TodoList-Item-ToggleCompletedButton {
  visibility: visible;
}

